@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
  
/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Style the Google Translate widget container */
#google_translate_element {
  display: inline-block; /* Make it an inline-block element */
  margin-right: 20px; /* Add some margin for spacing */
}

/* Style the Google Translate dropdown button */
.goog-te-combo {
  background-color: #ffffff; /* Change the background color */
  border: 1px solid #cccccc; /* Add a border */
  border-radius: 5px; /* Add some border radius */
  color: #333333; /* Change the text color */
  padding: 5px; /* Add some padding */
  font-size: 14px; /* Adjust the font size */
  width: auto; /* Allow the button to grow based on content */
  min-width: 150px; /* Set a minimum width */
}

/* Style the Google Translate dropdown options */
.goog-te-menu-value {
  font-size: 14px; /* Adjust the font size */
}

/* Style the Google Translate dropdown icon */
.goog-te-gadget-icon {
  display: none; /* Hide the language icon */
}

.goog-logo-link {
  display:none !important;
} 
  
.goog-te-gadget{
  color: transparent !important;
}
